

/* HARVARD BUSINESS SCHOOL CUSTOM CSS */

/* body background */

body {
	
}

/* widget-header gradients */

.ui-widget-header, #nav, #header .navlinks {

}

/* nav buttons */

#nav li a {

}
#nav li a:hover {

}
#nav li.navselected a, #nav li a:active {
	
}

/* left column background color */

#left-col {
	
}

/* left column widget border colors */

#left-col .ui-widget-content {

}

/* right column border color */

#right-col {
	
}

/* main widget backgrond color */

#emcontent {
	
}

/* table header background color and font color */

#emcontainer #emselectable #tableheader th, table tr.tableheader th {
	
}

/* table rows colors */

#emcontainer #emselectable table tr {
	
}
#emcontainer #emselectable table tr.odd, table tr.odd {
	
}

/* table rows hover background color */

#emcontainer #emselectable table tr.emborderhover, table tr.emborderhover {
	
}

/* media player background */

#media-player {
	
}

/* sidebar hover background color */

.sidebar-caption span {

}

/* categories and tags background color */

.asset-details-more a {

}

.asset-details-more a:hover {

}

/* category tree selected row background color */

#emcategoryinline .dTreeNodeSel {

}

/* asset metadata editor frame background color and side tab background color */

body #emcontainer .emasseteditorareawrapper, #assetmenu .catalogs_menu_item.current {

}

/* settings area sub navigation background color and border color */

#eml-tab-subnav ul, #eml-tabs ul li.current a {

}
#eml-tabs ul li.current a {

}

/* hints color and hover colors */

.hints h3, .hints a:hover {

}

/* standard font colors */

h1, h2 {

}

/* form focus border color */

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	
}